@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  [data-sumup-id='choose_payment_method_title'] {
    display: none;
  }

  [data-sumup-id='widget__container'] {
    color-scheme: light !important;
    --cui-bg-normal: #000000 !important;
    --cui-bg-normal-hovered: #18181b !important;
    --cui-bg-normal-pressed: #27272a !important;
    --cui-bg-normal-disabled: rgba(216, 232, 248, 0.08) !important;
    --cui-bg-subtle: #09090b !important;
    --cui-bg-subtle-hovered: #18181b !important;
    --cui-bg-subtle-pressed: #27272a !important;
    --cui-bg-subtle-disabled: rgba(216, 232, 248, 0.08) !important;
    --cui-bg-highlight: #404040 !important;
    --cui-bg-highlight-hovered: #404040 !important;
    --cui-bg-highlight-pressed: #525252 !important;
    --cui-bg-highlight-disabled: rgba(216, 232, 248, 0.08) !important;
    --cui-bg-strong: #ffffff !important;
    --cui-bg-strong-hovered: #f6f8f9 !important;
    --cui-bg-strong-pressed: #e3e7eb !important;
    --cui-bg-strong-disabled: rgba(216, 232, 248, 0.08) !important;
    --cui-bg-accent: #0c0f12 !important;
    --cui-bg-accent-hovered: #18181b !important;
    --cui-bg-accent-pressed: #27272a !important;
    --cui-bg-accent-disabled: rgba(216, 232, 248, 0.08) !important;
    --cui-bg-accent-strong: #e1e7ef !important;
    --cui-bg-accent-strong-hovered: #ffffff !important;
    --cui-bg-accent-strong-pressed: #ffffff !important;
    --cui-bg-accent-strong-disabled: rgba(216, 232, 248, 0.08) !important;
    --cui-bg-success: rgba(12, 211, 104, 0.2) !important;
    --cui-bg-success-hovered: rgba(12, 211, 104, 0.25) !important;
    --cui-bg-success-pressed: rgba(12, 211, 104, 0.3) !important;
    --cui-bg-success-disabled: rgba(216, 232, 248, 0.08) !important;
    --cui-bg-success-strong: #0cd368 !important;
    --cui-bg-success-strong-hovered: #13e072 !important;
    --cui-bg-success-strong-pressed: #25e980 !important;
    --cui-bg-success-strong-disabled: rgba(216, 232, 248, 0.08) !important;
    --cui-bg-warning: rgba(245, 158, 28, 0.2) !important;
    --cui-bg-warning-hovered: rgba(245, 158, 28, 0.25) !important;
    --cui-bg-warning-pressed: rgba(245, 158, 28, 0.3) !important;
    --cui-bg-warning-disabled: rgba(216, 232, 248, 0.08) !important;
    --cui-bg-warning-strong: #f5b81c !important;
    --cui-bg-warning-strong-hovered: #f7c440 !important;
    --cui-bg-warning-strong-pressed: #f7cb59 !important;
    --cui-bg-warning-strong-disabled: rgba(216, 232, 248, 0.08) !important;
    --cui-bg-danger: rgba(255, 76, 53, 0.2) !important;
    --cui-bg-danger-hovered: rgba(255, 76, 53, 0.2) !important;
    --cui-bg-danger-pressed: rgba(255, 76, 53, 0.4) !important;
    --cui-bg-danger-disabled: rgba(255, 69, 60, 0.13) !important;
    --cui-bg-danger-strong: #ff4e37 !important;
    --cui-bg-danger-strong-hovered: #ff6259 !important;
    --cui-bg-danger-strong-pressed: #ff827b !important;
    --cui-bg-danger-strong-disabled: rgba(216, 232, 248, 0.08) !important;
    --cui-bg-promo: rgba(195, 83, 247, 0.2) !important;
    --cui-bg-promo-hovered: rgba(195, 83, 247, 0.25) !important;
    --cui-bg-promo-pressed: rgba(195, 83, 247, 0.3) !important;
    --cui-bg-promo-disabled: rgba(216, 232, 248, 0.08) !important;
    --cui-bg-promo-strong: #c353f7 !important;
    --cui-bg-promo-strong-hovered: #c768f3 !important;
    --cui-bg-promo-strong-pressed: #ce72f8 !important;
    --cui-bg-promo-strong-disabled: rgba(216, 232, 248, 0.08) !important;
    --cui-fg-normal: #ffffff !important;
    --cui-fg-normal-hovered: rgba(255, 255, 255, 0.8) !important;
    --cui-fg-normal-pressed: #e3e7eb !important;
    --cui-fg-normal-disabled: rgba(230, 224, 233, 0.2) !important;
    --cui-fg-subtle: rgba(223, 232, 241, 0.6) !important;
    --cui-fg-subtle-hovered: rgba(223, 232, 241, 0.7) !important;
    --cui-fg-subtle-pressed: rgba(223, 232, 241, 0.8) !important;
    --cui-fg-subtle-disabled: rgba(216, 232, 248, 0.2) !important;
    --cui-fg-placeholder: rgba(223, 232, 241, 0.4) !important;
    --cui-fg-placeholder-hovered: rgba(223, 232, 241, 0.4) !important;
    --cui-fg-placeholder-pressed: rgba(223, 232, 241, 0.4) !important;
    --cui-fg-placeholder-disabled: rgba(216, 232, 248, 0.15) !important;
    --cui-fg-on-strong: #0f131a !important;
    --cui-fg-on-strong-hovered: #0f131a !important;
    --cui-fg-on-strong-pressed: #0f131a !important;
    --cui-fg-on-strong-disabled: rgba(216, 232, 248, 0.3) !important;
    --cui-fg-on-strong-subtle: rgba(15, 19, 26, 0.7) !important;
    --cui-fg-on-strong-subtle-hovered: rgba(15, 19, 26, 0.7) !important;
    --cui-fg-on-strong-subtle-pressed: rgba(15, 19, 26, 0.7) !important;
    --cui-fg-on-strong-subtle-disabled: rgba(216, 232, 248, 0.2) !important;
    --cui-fg-accent: #e1e7ef !important;
    --cui-fg-accent-hovered: #ffffff !important;
    --cui-fg-accent-pressed: #ffffff !important;
    --cui-fg-accent-disabled: rgba(216, 232, 248, 0.3) !important;
    --cui-fg-success: #17db72 !important;
    --cui-fg-success-hovered: #13e072 !important;
    --cui-fg-success-pressed: #25e980 !important;
    --cui-fg-success-disabled: rgba(216, 232, 248, 0.3) !important;
    --cui-fg-warning: #f5b81c !important;
    --cui-fg-warning-hovered: #f7c440 !important;
    --cui-fg-warning-pressed: #f7cb59 !important;
    --cui-fg-warning-disabled: rgba(216, 232, 248, 0.3) !important;
    --cui-fg-danger: #ff634e !important;
    --cui-fg-danger-hovered: #ff5c47 !important;
    --cui-fg-danger-pressed: #ff6a57 !important;
    --cui-fg-danger-disabled: rgba(255, 178, 167, 0.7) !important;
    --cui-fg-promo: #cf7bf6 !important;
    --cui-fg-promo-hovered: #c768f3 !important;
    --cui-fg-promo-pressed: #ce72f8 !important;
    --cui-fg-promo-disabled: rgba(216, 232, 248, 0.3) !important;
    --cui-border-normal: rgba(223, 232, 241, 0.3) !important;
    --cui-border-normal-hovered: rgba(223, 232, 241, 0.35) !important;
    --cui-border-normal-pressed: rgba(223, 232, 241, 0.45) !important;
    --cui-border-normal-disabled: rgba(216, 232, 248, 0.3) !important;
    --cui-border-subtle: rgba(255, 255, 255, 0.15) !important;
    --cui-border-subtle-hovered: rgba(255, 255, 255, 0.2) !important;
    --cui-border-subtle-pressed: rgba(255, 255, 255, 0.3) !important;
    --cui-border-subtle-disabled: rgba(255, 255, 255, 0.1) !important;

    --cui-border-divider: rgba(255, 255, 255, 0.3) !important;
    --cui-border-divider-hovered: rgba(255, 255, 255, 0.35) !important;
    --cui-border-divider-pressed: rgba(255, 255, 255, 0.45) !important;
    --cui-border-divider-disabled: rgba(255, 255, 255, 0.15) !important;

    --cui-border-strong: #ffffff !important;
    --cui-border-strong-hovered: #f6f8f9 !important;
    --cui-border-strong-pressed: #e3e7eb !important;
    --cui-border-strong-disabled: rgba(255, 255, 255, 0.15) !important;

    --cui-border-accent: #ffffff !important;
    --cui-border-accent-hovered: #f6f8f9 !important;
    --cui-border-accent-pressed: #e3e7eb !important;
    --cui-border-accent-disabled: rgba(255, 255, 255, 0.15) !important;

    --cui-border-success: #0cd368 !important;
    --cui-border-success-hovered: #13e072 !important;
    --cui-border-success-pressed: #25e980 !important;
    --cui-border-success-disabled: rgba(255, 255, 255, 0.15) !important;

    --cui-border-warning: #f5b81c !important;
    --cui-border-warning-hovered: #f7c440 !important;
    --cui-border-warning-pressed: #f7cb59 !important;
    --cui-border-warning-disabled: rgba(255, 255, 255, 0.15) !important;

    --cui-border-danger: #ff634e !important;
    --cui-border-danger-hovered: #ff5c47 !important;
    --cui-border-danger-pressed: #ff6a57 !important;
    --cui-border-danger-disabled: rgba(255, 178, 167, 0.7) !important;

    --cui-border-promo: #c353f7 !important;
    --cui-border-promo-hovered: #c768f3 !important;
    --cui-border-promo-pressed: #ce72f8 !important;
    --cui-border-promo-disabled: rgba(255, 255, 255, 0.15) !important;

    --cui-bg-overlay: rgba(0, 0, 0, 0.7) !important;
    --cui-bg-elevated: #2f3438 !important;
    --cui-border-focus: #ffffff !important;
    --cui-border-radius-bit: 4px;
    --cui-border-radius-byte: 8px;
    --cui-border-radius-kilo: 12px;
    --cui-border-radius-mega: 16px;
    --cui-border-radius-circle: 100%;
    --cui-border-radius-pill: 999999px;
    --cui-border-width-kilo: 1px;
    --cui-border-width-mega: 2px;
    --cui-font-stack-default:
      aktiv-grotesk, Helvetica, Arial, system-ui, sans-serif, 'Segoe UI', Roboto, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol';
    --cui-font-stack-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    --cui-font-weight-regular: 400;
    --cui-font-weight-bold: 700;
    --cui-icon-sizes-kilo: 16px;
    --cui-icon-sizes-mega: 24px;
    --cui-icon-sizes-giga: 32px;
    --cui-icon-sizes-tera: 48px;
    --cui-spacings-bit: 4px;
    --cui-spacings-byte: 8px;
    --cui-spacings-kilo: 12px;
    --cui-spacings-mega: 16px;
    --cui-spacings-giga: 24px;
    --cui-spacings-tera: 32px;
    --cui-spacings-peta: 40px;
    --cui-spacings-exa: 48px;
    --cui-spacings-zetta: 56px;
    --cui-transitions-default: 0.12s ease-in-out;
    --cui-transitions-slow: 0.3s ease-in-out;
    --cui-typography-headline-one-font-size: 2rem;
    --cui-typography-headline-one-line-height: 2.25rem;
    --cui-typography-headline-two-font-size: 1.5rem;
    --cui-typography-headline-two-line-height: 1.75rem;
    --cui-typography-headline-three-font-size: 1.25rem;
    --cui-typography-headline-three-line-height: 1.5rem;
    --cui-typography-headline-four-font-size: 1.125rem;
    --cui-typography-headline-four-line-height: 1.5rem;
    --cui-typography-title-one-font-size: 7.5rem;
    --cui-typography-title-one-line-height: 7.5rem;
    --cui-typography-title-two-font-size: 6rem;
    --cui-typography-title-two-line-height: 6rem;
    --cui-typography-title-three-font-size: 4rem;
    --cui-typography-title-three-line-height: 4rem;
    --cui-typography-title-four-font-size: 3.5rem;
    --cui-typography-title-four-line-height: 3.5rem;
    --cui-typography-sub-headline-font-size: 0.875rem;
    --cui-typography-sub-headline-line-height: 1.25rem;
    --cui-typography-body-one-font-size: 1rem;
    --cui-typography-body-one-line-height: 1.5rem;
    --cui-typography-body-two-font-size: 0.875rem;
    --cui-typography-body-two-line-height: 1.25rem;
    --cui-typography-body-large-font-size: 1.25rem;
    --cui-typography-body-large-line-height: 1.75rem;
    --cui-z-index-default: 0;
    --cui-z-index-absolute: 1;
    --cui-z-index-input: 20;
    --cui-z-index-popover: 30;
    --cui-z-index-tooltip: 40;
    --cui-z-index-header: 600;
    --cui-z-index-backdrop: 700;
    --cui-z-index-navigation: 800;
    --cui-z-index-modal: 1000;
    --cui-z-index-toast: 1100;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .tooltip {
    @apply invisible absolute;
  }

  .has-tooltip:hover .tooltip {
    @apply visible z-50;
  }
}
